.setting-section
{
    margin-top: 7%;
}

.custom-padding
{
    padding-top: 130px;
}

.settings-Photo
{
    position: absolute;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 3px solid gray;
    left: 37%;
    top: -10% !important;
}